In [1]:
import pandas as pd
import numpy as np

In [2]:
# cust_df = pd.read_csv('customers_table .csv')
# dist_df = pd.read_csv('distances_table_with_seller_id.csv')
# orders_df = pd.read_csv('orders_table .csv')
# order_items_df = pd.read_csv('order_items_table .csv')
# prod_df = pd.read_csv('products_table_with_seller_id.csv')
# prods_new = pd.read_csv('master grocery list.csv')

In [3]:
all_prods = []

seller_ids = list(range(1,64))

for n, i in enumerate(prods_new):
    price = np.random.randint(10,30)
    prod_list = prods_new[i].tolist()
    s_ids = seller_ids[3*n:3*n + 3]
    new_list = []
    for prod in prod_list:
        try:
            new_list += prod[2:].split(' / ')
        except:
            pass
    
    len(new_list)

    all_prods += [[j,i, random.choice(s_ids), np.random.randint(80,150), np.random.randint(-5,5) + price ] for j in new_list]

NameError: name 'prods_new' is not defined

In [ ]:
all_prods = pd.DataFrame(all_prods, columns = ['Product', 'Category', 'SellerID','Quantity', 'Price'])

In [ ]:
all_prods.dropna(inplace = True)

In [ ]:
# all_prods['Product'] = all_prods['Product'].apply(lambda x: x[2:])

In [ ]:
all_prods = all_prods[all_prods['Product'].apply(lambda x : len(x) > 2)].reset_index(drop = True)

In [ ]:
all_prods['Category'].nunique()

21

In [ ]:
all_prods.SellerID.nunique()

62

In [ ]:
all_prods['product_id'] = range(1, len(all_prods) + 1)

In [ ]:
all_prods.columns = [ 'product_name', 'product_category', 'seller_id',
       'quantity_in_stock', 'price','product_id']

In [ ]:
all_prods[prod_df.columns].to_csv('products_table_new.csv', index = False)

In [ ]:
cities = pd.read_csv('citiesNY.csv')

In [ ]:
cities = cities.City.tolist()

In [ ]:
dist_oth = pd.read_csv('distance_from_NY.csv')

In [ ]:
dist_oth['distance'] = dist_oth['distance'].apply(lambda x: x[:-3].replace(',', ''))

In [ ]:
dist_oth.iloc[0,0] = 'Distance from Arkansas to New York'

In [ ]:
states_1 =dist_oth['Distance_from'].apply(lambda x: x[14:-12])[:27].tolist()

In [ ]:
states_1 += dist_oth['Distance_from'].apply(lambda x: x[26:])[27:].tolist()

In [ ]:
dist_oth['State'] = states_1

In [ ]:
dist_oth

                                 Distance_from distance             State
0           Distance from Arkansas to New York     1675          Arkansas
1   Distance from Washington, D.C. to New York      328  Washington, D.C.
2           Distance from Delaware to New York      239          Delaware
3            Distance from Florida to New York     1605           Florida
4            Distance from Georgia to New York     1238           Georgia
5             Distance from Kansas to New York     2091            Kansas
6          Distance from Louisiana to New York     1941         Louisiana
7           Distance from Maryland to New York      291          Maryland
8           Distance from Missouri to New York     1560          Missouri
9        Distance from Mississippi to New York     1656       Mississippi
10    Distance from North Carolina to New York      703    North Carolina
11          Distance from Oklahoma to New York     2117          Oklahoma
12    Distance from South Carolina to New York      992    South Carolina
13         Distance from Tennessee to New York     1241         Tennessee
14             Distance from Texas to New York     2503             Texas
15     Distance from West Virginia to New York      600     West Virginia
16           Distance from Alabama to New York     1480           Alabama
17       Distance from Connecticut to New York      125       Connecticut
18              Distance from Iowa to New York     1597              Iowa
19          Distance from Illinois to New York     1296          Illinois
20           Distance from Indiana to New York     1026           Indiana
21             Distance from Maine to New York      626             Maine
22          Distance from Michigan to New York     1030          Michigan
23         Distance from Minnesota to New York     1785         Minnesota
24          Distance from Nebraska to New York     2163          Nebraska
25     Distance from New Hampshire to New York      341     New Hampshire
26        Distance from New Jersey to New York       80        New Jersey
27              Distance from New York to Ohio      752              Ohio
28      Distance from New York to Rhode Island      233      Rhode Island
29           Distance from New York to Vermont      443           Vermont
30         Distance from New York to Wisconsin     1262         Wisconsin
31        Distance from New York to California     3919        California
32          Distance from New York to Colorado     2690          Colorado
33        Distance from New York to New Mexico     2873        New Mexico
34            Distance from New York to Nevada     3596            Nevada
35              Distance from New York to Utah     3139              Utah
36           Distance from New York to Arizona     3334           Arizona
37             Distance from New York to Idaho     3332             Idaho
38           Distance from New York to Montana     2969           Montana
39      Distance from New York to North Dakota     2271      North Dakota
40            Distance from New York to Oregon     3796            Oregon
41      Distance from New York to South Dakota     2150      South Dakota

In [ ]:
len(cities)

62

In [ ]:
majorcit = pd.read_csv('majorUS_cities.csv')

In [ ]:
majorcit = majorcit[majorcit.State.apply(lambda x: x in dist_oth.State.tolist())]

In [ ]:
oth_cities = pd.merge(majorcit, dist_oth, on = 'State', how = 'left')

In [ ]:
oth_cities['time'] = np.ceil(oth_cities.distance.astype(int) / 50)

In [ ]:
oth_cities.columns

Index(['Rank', 'Name', 'State', '2022 Pop.', '2010 Census', 'Change',
       'Density (mi²)', 'Area (mi²)', 'Distance_from', 'distance', 'time'],
      dtype='object')

In [ ]:
oth_cities = oth_cities[['Name', 'State', 'time']]

In [ ]:
city_to_time = oth_cities.set_index('Name')['time']

In [ ]:
cust_cities = oth_cities.Name.tolist() + cities

In [ ]:
multiple = oth_cities.Name.value_counts().index[:4]

In [ ]:
distance_table_list = []
count = 0
for cc in cust_cities:
    for n, sc in enumerate(cities):
        count +=1
        if cc in multiple:
            time_del = city_to_time[cc].iloc[0]
        elif cc in oth_cities.Name.to_list():
            time_del = city_to_time[cc]
        else:
            time_del = np.random.randint(2,7)
        distance_table_list.append([count,cc, sc, time_del, n+1])

In [ ]:
dist_df.columns

Index(['dist_id', 'customer_city', 'seller_city', 'time_to_deliver',
       'seller_id'],
      dtype='object')

In [ ]:
dist_table_new = pd.DataFrame(distance_table_list, columns =  dist_df.columns)

In [ ]:
cust_cities

['Los Angeles',
 'Chicago',
 'Houston',
 'Phoenix',
 'San Antonio',
 'San Diego',
 'Dallas',
 'Austin',
 'San Jose',
 'Fort Worth',
 'Jacksonville',
 'Charlotte',
 'Columbus',
 'Indianapolis',
 'San Francisco',
 'Denver',
 'El Paso',
 'Nashville',
 'Oklahoma City',
 'Las Vegas',
 'Portland',
 'Detroit',
 'Memphis',
 'Milwaukee',
 'Baltimore',
 'Albuquerque',
 'Tucson',
 'Mesa',
 'Fresno',
 'Atlanta',
 'Sacramento',
 'Kansas City',
 'Colorado Springs',
 'Raleigh',
 'Miami',
 'Omaha',
 'Long Beach',
 'Oakland',
 'Minneapolis',
 'Tampa',
 'Tulsa',
 'Arlington',
 'Aurora',
 'Wichita',
 'Bakersfield',
 'New Orleans',
 'Cleveland',
 'Henderson',
 'Anaheim',
 'Riverside',
 'Santa Ana',
 'Corpus Christi',
 'Stockton',
 'St. Paul',
 'Cincinnati',
 'Irvine',
 'Greensboro',
 'Lincoln',
 'Durham',
 'Orlando',
 'St. Louis',
 'Chula Vista',
 'Plano',
 'Newark',
 'Fort Wayne',
 'Chandler',
 'Reno',
 'North Las Vegas',
 'Scottsdale',
 'St. Petersburg',
 'Laredo',
 'Gilbert',
 'Toledo',
 'Lubbock',
 'Madison',
 'Glendale',
 'Jersey City',
 'Winston-Salem',
 'Fremont',
 'Frisco',
 'Paradise',
 'Irving',
 'Garland',
 'Boise',
 'Hialeah',
 'Moreno Valley',
 'Port St. Lucie',
 'McKinney',
 'Fontana',
 'Modesto',
 'Fayetteville',
 'Baton Rouge',
 'San Bernardino',
 'Santa Clarita',
 'Cape Coral',
 'Des Moines',
 'Tempe',
 'Huntsville',
 'Oxnard',
 'Spring Valley',
 'Birmingham',
 'Overland Park',
 'Grand Rapids',
 'Salt Lake City',
 'Columbus',
 'Augusta',
 'Amarillo',
 'Tallahassee',
 'Ontario',
 'Montgomery',
 'Little Rock',
 'Akron',
 'Huntington Beach',
 'Grand Prairie',
 'Glendale',
 'Sioux Falls',
 'Sunrise Manor',
 'Aurora',
 'Knoxville',
 'Peoria',
 'Mobile',
 'Chattanooga',
 'Brownsville',
 'Fort Lauderdale',
 'Elk Grove',
 'Providence',
 'Shreveport',
 'Salem',
 'Pembroke Pines',
 'Eugene',
 'Rancho Cucamonga',
 'Cary',
 'Santa Rosa',
 'Fort Collins',
 'Oceanside',
 'Corona',
 'Enterprise',
 'Garden Grove',
 'Springfield',
 'Clarksville',
 'Murfreesboro',
 'Lakewood',
 'Killeen',
 'Midland',
 'Hayward',
 'Hollywood',
 'Salinas',
 'Lancaster',
 'Macon',
 'Surprise',
 'Kansas City',
 'Sunnyvale',
 'Palmdale',
 'Denton',
 'Jackson',
 'Escondido',
 'Pomona',
 'Naperville',
 'Roseville',
 'Thornton',
 'Round Rock',
 'Pasadena',
 'Joliet',
 'Carrollton',
 'McAllen',
 'Paterson',
 'Rockford',
 'Waco',
 'Bridgeport',
 'Miramar',
 'Olathe',
 'Metairie',
 'Albany',
 'Amsterdam',
 'Auburn',
 'Batavia',
 'Beacon',
 'Binghamton',
 'Buffalo',
 'Canandaigua',
 'Cohoes',
 'Corning',
 'Cortland',
 'Dunkirk',
 'Elmira',
 'Fulton',
 'Geneva',
 'Glen Cove',
 'Glens Falls',
 'Gloversville',
 'Hornell',
 'Hudson',
 'Ithaca',
 'Jamestown',
 'Johnstown',
 'Kingston',
 'Lackawanna',
 'Little Falls',
 'Lockport',
 'Long Beach',
 'Mechanicville',
 'Middletown',
 'Mount Vernon',
 'New Rochelle',
 'New York City',
 'Newburgh',
 'Niagara Falls',
 'North Tonawanda',
 'Norwich',
 'Ogdensburg',
 'Olean',
 'Oneida',
 'Oneonta',
 'Oswego',
 'Peekskill',
 'Plattsburgh',
 'Port Jervis',
 'Poughkeepsie',
 'Rensselaer',
 'Rochester',
 'Rome',
 'Rye',
 'Salamanca',
 'Saratoga Springs',
 'Schenectady',
 'Sherrill',
 'Syracuse',
 'Tonawanda',
 'Troy',
 'Utica',
 'Watertown',
 'Watervliet',
 'White Plains',
 'Yonkers']

In [ ]:
oth_cities

            Name        State  time
0    Los Angeles   California  79.0
1        Chicago     Illinois  26.0
2        Houston        Texas  51.0
3        Phoenix      Arizona  67.0
4    San Antonio        Texas  51.0
..           ...          ...   ...
167         Waco        Texas  51.0
168   Bridgeport  Connecticut   3.0
169      Miramar      Florida  33.0
170       Olathe       Kansas  42.0
171     Metairie    Louisiana  39.0

[172 rows x 3 columns]

In [ ]:
cust_cities = oth_cities[['Name', 'State']].copy()

In [ ]:
cust_cities = pd.concat([cust_cities, pd.DataFrame([[i, 'New YorK'] for i in cities], columns = ['Name', 'State'])], axis = 0)

In [ ]:
cust_cities.index = range(234)

In [ ]:
cust_cities

             Name       State
0     Los Angeles  California
1         Chicago    Illinois
2         Houston       Texas
3         Phoenix     Arizona
4     San Antonio       Texas
..            ...         ...
229         Utica    New YorK
230     Watertown    New YorK
231    Watervliet    New YorK
232  White Plains    New YorK
233       Yonkers    New YorK

[234 rows x 2 columns]

In [ ]:
cust_table_li = []
for i in range(len(cust_cities)):
    if cust_cities.iloc[i]['State'] != 'New York':
        n_rec = np.random.randint(1,4)
    else:
        n_rec = np.random.random(3,7)
    
    cust_table_li += [[cust_cities.iloc[i]['Name'], cust_cities.iloc[i]['State']]]*n_rec

In [ ]:
customer_able = pd.DataFrame(cust_table_li, index = pd.Series(range(1,465), name = 'customer_id'),
             columns = ['customer_city', 'customer_state'] )

In [ ]:
customer_able.to_csv('customers_table_new.csv')

In [ ]:
order_id =